body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* ====== HEADER ====== */
header {
  background-color: #4d4e4d;
  color: white;
  padding: 15px;
  text-align: center;
  font-size: 1.4em;
}


main {
  flex: 1;
  display: flex;
  justify-content: center; 
  background-color: #e0e0e0; 
  padding: 20px 0; 
}

.centrar {
  display: flex;
  max-width: 1000px;
  width: 100%;
}

.calendario-contenedor {
  display: grid;
  grid-template-columns: 250px 1fr; 
  gap: 20px;
  align-items: start; 
}

.izquierda {
  display: flex;
  flex-direction: column;
  gap: 160px;
}

.izquierda input {
  width: 200px; 
}

.izquierda button {
  width: auto; 
  flex: 0 0 auto; 
}

.derecha {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* ====== SIDEBAR ====== */
.sidebar {
  background-color: #fff4ff;
  width: 220px;
  padding: 20px;
  border-right: 2px solid #ccc;
}

.sidebar h2 {
  margin-top: 0;
  text-align: center;
  color: #333;
  gap: 20;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  background-color: inherit; /* toma el color de sidebar */
  border-radius: 6px;
  cursor: pointer;
  padding: 10px;
  margin: 5px 0;
  text-align: center;
  transition: background-color 0.2s ease;
}

.sidebar li:hover {
  background-color: #e8e8e8; /* solo un cambio sutil al hacer hover */
}

header, footer {
  border-bottom: 3px solid #999; /* header */
  border-top: 3px solid #999; /* footer */
}

/* ====== CONTENIDO DERECHA ====== */
.contenido-columna-derecha {
  flex: 1;
  padding: 20px;
  background-color: #ffffff;
}

.seccion {
  display: none; 
}

.seccion:first-of-type {
  display: block; 
}


input[type="datetime-local"] {
  margin: 10px 0;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 8px 14px;
  border: none;
  background-color: #4f4caf;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #45a049;
}

footer {
  background-color: #4c4d4c;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 0.9em;
}

